<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>0Auth2 discord</title>
    <style>
        *{
            margin: 0;
            padding: 0;;
        }
        nav{

            padding: 6px 0;
            width: 100%;
            background-color: orange;
        }
        nav li {
            
            border: #333 dotted 1px;

            list-style: none;
            display: inline-block;
            margin: 0 10px 0 0;
      
        }

        nav a {
            border: #333 dotted 1px;

            color: #fff;
            font-size: 18px;
            background-color: rgba(255, 255, 255, 0.2);
            text-decoration: none;
            padding: 10px;
            display: block;
        }

        main,
        header {

            border: #333 dotted 1px;

            max-width: 960px;
            margin: 30px auto;
            padding: 0 10px;
            color: #333;
        }
    </style>
</head>

<body>

    <nav>
        <li><a href="/">Homepage</a></li>
        <li><a href="/about">About</a></li>
        
        <li><a href="/auth/login">Login</a></li>
        <li><a href="/auth/logout">Logout</a></li>
    </nav>
    <header>
        <h1>0Auth2 Discord</h1>
        <h2>404page</h2>
    </header>
    <main>
        <p>404</p>
    </main>
</body>

</html>