<html lang="en">

<%- include('./partials/head') %>

<body>

    <%- include('./partials/nav') %>
    <header>
        <h1>0Auth2 Discord</h1>
        <h2>Homepage</h2>
    </header>
    <main>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit repellat ducimus nihil perferendis
            similique a itaque, at aspernatur placeat voluptatibus quidem quos maiores incidunt et expedita. Molestias
            reiciendis sed id.</p>
    </main>
</body>

</html>