<html lang="en">

<%- include('./partials/head') %>

<body>

    <%- include('./partials/nav') %>
    <header>
        <h1>0Auth2 Discord</h1>
        <h2>Aboutpage</h2>
    </header>
    <main>
        <a href="/auth/google">Login In With Google</a>
    </main>
</body>

</html>