<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>0Auth2 discord</title>


    <%- include('./partials/head', {user}) %>

<body>
    <% let check = false;  if (user){ check = true} %>
    <%- include('./partials/nav', {check}) %>
    <header>
        <h1>0Auth2 Discord</h1>
        <h2>Aboutpage</h2>
    </header>
    <main>

        <h2>User Details</h2>
        <p>Username: <%=user.username%></p>
    </main>
</body>

</html>